# Build
/forge
/node
/utils
/tests
/index.js
/index.js.map
/index.d.ts

# Coverage reports
/coverage

/tmp

/test_resources/running

# IDE stuff
.idea/

# Node stuff
node_modules
*.log

# OS Stuff
.DS_Store
Thumbs.db

.nyc_output
