# Build
/forge
/node
/webcrypto
/react-native-forge
/react-native-cryptopp
/react-native-quick-crypto
/utils
/tests
/index.js
/index.js.map
/index.d.ts

# Doc
/doc

# Coverage reports
/coverage
/.nyc_output

/tmp

# IDE stuff
/.idea/

# Node stuff
/node_modules
*.log

# OS Stuff
.DS_Store
Thumbs.db

# CI
.npm

/test-results/
