# Config files
/.babelrc
/nyc.config.js
/.gitignore
/.gitlab-ci.yml
/tsconfig.json
/.eslintrc.js
/.ncurc.json
/README_DEV.md

# Doc
/doc

# Source files
/src/**/*

# Tests
/**/*spec.js
/**/*spec.js.map
/**/*spec.d.ts

# Coverage reports
/coverage
/.nyc_output

/tmp

# IDE stuff
/.idea/

# Node stuff
*.log

# OS Stuff
.DS_Store
Thumbs.db

# Tests
karma.conf.local.js
karma.conf.template.js

# CI
.npm

/test-results/
mochaReportConfig.json
browsers.js
run-karma-saucelabs.spec.js
