# Config files
/.babelrc
/.nycrc
/.gitignore
/.gitlab-ci.yml
/tsconfig.json

# Doc
/doc

# Source files
/src/**/*

# Tests
/**/*spec.js
/**/*spec.js.map
/**/*spec.d.ts

# Coverage reports
/coverage
/.nyc_output

/tmp

# IDE stuff
/.idea/

# Node stuff
*.log

# OS Stuff
.DS_Store
Thumbs.db

# Tests
karma.conf.local.js
karma.conf.template.js

# CI
.npm
