{
  "include": [
    "forge/**/*.js",
    "node/**/*.js",
    "utils/**/*.js"
  ],
  "exclude": [
    "tests/**/*.js"
  ],
  "all": true,
  "report-dir": "./coverage",
  "reporter": [
    "html",
    "text",
    "text-summary"
  ]
}
